
*{
    margin: 0px auto;
    padding: 0px;

}
body{
    width: 100%;
    height: auto;

}
img{
    margin-left: 80px;
    margin-top: 20px;
    width: 75px;
    height: 67px;
    
}
ul{
    
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    display: inline-block;
    text-decoration: none;
    position: relative;
    bottom: 45px;
    left: 40em;
    text-decoration: none;
    
}
li{
    display: flex;
    font-size: 12px;
    display: inline-flex; 
    width: 60px;
    
}
h2{
    font-family: 'Inter', sans-serif;
    font-size: 19px;
    margin-left: 10em;
    align-items: center;
}
h3{
    font-family: 'Inter', sans-serif;
    font-size: 19px;
    
    margin-left: 5em;
    align-items: center;
}
.cuadrado{
    width: 860px;           
  height: 270px;          
  background: #F5F6F7; 
  margin-top: 50px;


}



#footer{
    width: 100%;
    height: 200px;
    background-color: #33485F;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#footer #content-all{
    width: 80%;
    height: 100%;
    background-color: #2A3B4E;
}

